.panel, .input {
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 100px;
    margin: 50px;
}

body {
    background-color: steelblue;
}

input {
    font-size: 30px;
}

h2 {
    color: rgb(29, 161, 242);
    margin: 3rem 0 1.5rem 0;
    font-size: 40px;
}

.chirps {
    font-size: 20px;
    color: darkred;
}

.current {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    color: rgb(59, 59, 59);
    font-size: 15px;
    margin-left: 1rem;
}